<div class="wrapper">
  <h1>Here's your stupid answer</h1>
<!-- Your responsive signup form -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4">
        <h2><%= @answer %></h2>
      </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4">
          <%= link_to "Ask another question", root_path %>
          </div>
        </div>
    </div>
  </div>
</div>
